[submodule "ext/glfw"]
	path = ext/glfw
	url = https://github.com/glfw/glfw.git
[submodule "ext/imgui"]
	path = ext/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "ext/spdlog"]
	path = ext/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "ext/fmt"]
	path = ext/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "ext/stb"]
	path = ext/stb
	url = https://github.com/nothings/stb.git
[submodule "ext/CLI11"]
	path = ext/CLI11
	url = https://github.com/CLIUtils/CLI11.git
